<% provide(:title, I18n.t("help")) %>
<h1><%= t("help") %></h1>
<p>
  <%= t("get_help") %>
  <a href="http://www.railstutorial.org/help"><%= t("r_t") %></a>.
  <%= t("to_get_help") %>
  <a href="http://www.railstutorial.org/book"><em><%= t("ror_t") %></em>
  <%= t("book") %></a>.
</p>
